@import "./variables.scss";
@import "./responsive.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.main {
    font-family: "Inter", sans-serif;
    background-color: $main-bg;
    color: $main-color;
}

.container {
    display: flex;
    // @include xxl {
    //     background-color: rgba(0, 255, 157, 0.514);
    // }

    // @include xl {
    //     background-color: rgba(255, 225, 0, 0.514);
    // }

    // @include lg {
    //     background-color: rgba(255, 0, 251, 0.514);
    // }
    // @include md {
    //     background-color: rgba(255, 55, 0, 0.514);
    // }
    // @include sm {
    //     background-color: rgba(98, 0, 255, 0.514);
    // }
}

.menuContainer {
    width: 250px;
    padding: 5px 20px;
    border-right: 2px solid $soft-bg;

    @include lg {
        width: auto;
    }
}

.contentContainer {
    width: 100%;
    padding: 5px 20px;
}

.btn {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
