.topBox {
    h1 {
        margin-bottom: 20px;
    }

    &_list {
        &-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 30px;

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .userInfo {
                    display: flex;
                    flex-direction: column;

                    .username {
                        font-size: 14px;
                        font-weight: 500;
                    }

                    .email {
                        font-size: 12px;
                    }
                }
            }

            .amount {
                font-weight: 500;
            }
        }
    }
}
